<h1>{{firebase.title}}</h1>

<div class="row">
	<div ng-click="reverse=!reverse;order('name', reverse)" class="col-md-1">Participant</div>
	<div ng-click="reverse=!reverse;order('initiative', reverse)" class="col-md-1">Initiative <span class="glyphicon glyphicon-circle-arrow-{{gliphicondir}}"></span></div>
</div>
<div sv-root sv-part="participantsArray" sv-on-sort="sorted($item, $partFrom, $partTo, $indexFrom, $indexTo)">
	<div participant-renderer ng-repeat="participant in participantsArray"/>
</div>

<form ng-submit="addParticipant()" role="form" class="form-inline">
		<fieldset ng-show="showAddForm" class="form-group">
			<legend>Add a Participant</legend>
			<input name="title" placeholder="Name" ng-model="participantName"></input>
			<input name="initiative" placeholder="Initiative" ng-model="participantInit"></input>
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Participant</button>
		</fieldset>
		<button type="submit" class="btn btn-default" ng-hide="showAddForm"><span class="glyphicon glyphicon-plus"></span> New Participant</button>
</form>